@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
//  browsers reset
@import 'addons/reset';

// flexbox and helper calsses
@import 'addons/flex';
@import 'addons/helpers';


body {
    background-color: #F7CD75;
    height: 100vh;
    display: block;
}

.page-container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;

    .left-side {
        background-color: #F2F2F2;
        width: 30%;

        .left-side-header {
            h1 {
                font-weight: bold;
                color: #000;
            }
        }
    }
}

// styles in desktop screens
@media  (min-width: 1025px) {}

// styles in mobile and tablet screens
@media  (max-width: 1024px) {}

// styles in mobile only screens
@media  (max-width: 480px) {}